<%- include('../partials/header.ejs') -%>
    <% articles.forEach(article => { %>
        <div class="article container-fluid">
            <h3><%= article.title %></h3>
            <p class="font-italic text-muted"><%= article.createdAt %></p>
            <p class="font-weight-bolder"><%= article.description %></p>
            <p class=""><%= article.content %></p>
        </div> 
    <% }); %>
<%- include('../partials/footer.ejs') -%>